<!--templates/playlists_edit-->
{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method="POST" action="/playlists/{{ playlist._id }}">
            <input type='hidden' name='_method' value='PUT'/>
            <fieldset>
                <legend>{{ title }}</legend>

                <!--TITLE-->
                <div class='form-group'>
                    <label for="playlist-title">Title</label><br>
                    <input id="playlist-title" type="text" name="title" value="{{ playlist.title }}" />
                </div>

                <!--DESCRIPTION-->
                <div class='form-group'>
                    <label for="description">Description</label><br>
                    <input id="description" type="text" name="description" value="{{ playlist.description }}" />
                </div>

                <!--VIDEOS IDS-->
                <div class='form-group'>
                    <label for="playlists-video-ids">Videos</label>
                    <p class='text-muted'>Add the url of the videos you want to include in your playlist.</p>
                    <textarea class='form-control' id="playlists-video-ids" name="video_ids" rows="10">{{ "\n".join(playlist.video_ids) }}</textarea>
                </div>
            </fieldset>

            <!--BUTTON-->
            <div class="form-group">
                <button class='btn btn-primary' type="submit">Save Playlist</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}