<!--templates/playlists_new.html-->
{% extends 'base.html' %}

{% block content %}
    <form method="post" action="/playlists">
        <fieldset>
            <legend>{{ title }}</legend>

<!--        TITLE-->
            <div>
                <label for="playlist-title">Title</label><br>
                <input id="playlist-title" type="text" name="title"  />
            </div>

<!--        DESCRIPTION-->
            <div>
                <label for="description">Description</label><br>
                <input id="description" type="text" name="description"  />
            </div>

<!--        VIDEOS IDS-->
            <div>
                <label for="playlists-video-ids">Videos</label>
                <p>Add the url of the videos you want to include in your playlist.</p>
                <textarea id="playlists-video-ids" name="video_ids" rows="10"></textarea>
            </div>
        </fieldset>

        <br>

<!--    BUTTON-->
        <p>
            <button type="submit">Save Playlist</button>
            <button type="reset"><a href="/">Cancel</a></button>
        </p>
    </form>
{% endblock %}